body {
     background-color: #a6978a;
     color: #293132;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
}

a {
     font-weight: bold;
}

#image-gallery {
     display: flex;
     flex-wrap: wrap;
     justify-content:center;
     padding-left: 5%;
     padding-right: 5%;
}
.image-component {
     position: relative;
     margin-right: 10px;
     margin-bottom: 50px;
} 
.image-component-container { 
     transition: transform 0.3s ease;
} .image-component-container:hover {
     transform: scale(1.05);
}
#image-gallery div.image-element  img {
     width: 100%;
}
#image-gallery div.info-element {
     position: absolute;
     width: 100%;
     background-color: #918479;
}
#image-gallery div.info-element p {
     display: inline;
}
#image-gallery div.info-element-container {
     padding-left: 5px;
     padding-right: 5px;
}
.like-element-static {
     width: 15px;
}
.like-element {
     width: 15px;
     transition: transform 0.3s ease;

} .like-element:hover {
     transform: scale(1.2);
} 

/*                  */

.photoViewer {
     position: relative; 
     width: 95%;
     height: 700px;
     margin-left: auto;
     margin-right: auto;
}

#largeImage {
     display: inline-block; /* or display: inline-block; */
     height: 600px;
     width: auto;
     text-align: center;
     margin-bottom: 20px; /* Adjust margin between rows */
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Add box shadow */
     /* transition: transform 0.3s ease; /* Add transition for smooth scaling */
     z-index: 100;
}

#largeImage:hover {
     /* transform: scale(1.05); /* Scale up on hover */
 }

#navPhotoLeft {
     position: absolute; 
     bottom: 0;
     left: 0; 
     margin-bottom: 20px; /* Adjust margin between rows */
     transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

#navPhotoLeft:hover {
     transform: scale(1.05); /* Scale up on hover */
}

#navPhotoRight {
     position: absolute; 
     bottom: 0;
     right: 0;
     margin-bottom: 20px; /* Adjust margin between rows */
     transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

#navPhotoRight:hover {
     transform: scale(1.05); /* Scale up on hover */
}

.form-label { 
     display: block; 
     margin-top: 15px;
}

.form-submit {
     margin-top: 20px;
}


/* Input (commentaires) */
input[type="text"] {
     padding: 8px;
     margin: 5px 0;
     width: 20em;
     box-sizing: border-box;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} input[type="password"] {
     padding: 8px;
     margin: 5px 0;
     width: 20em;
     box-sizing: border-box;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 16px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} input[type="submit"] {
     background-color: #293132;
     color: #a6978a;
     padding: 10px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     font-size: 16px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} input[type="submit"]:hover {
     background-color: #a6978a;
     color: #ffffff
} input[type="submit"]:disabled {
     background-color: #15191a;
     color: #7e7369;
}

/* Lien: style de base */
a.link:link {
     color: white;
} a.link:visited {
     color: white;
}
/* Lien: hover */
a.link:hover {
     color: #293132;
     background-color: white;
} a.link:active {
     color: #293132;
     background-color: white;
}